#!/usr/bin/env bash
#
# Simple Firewall-Script with iptables
# only IPv4
#
# (c) by Wutze 2006-18 Version 3.0
#
# This file is copyright under the latest version of the EUPL.
# Please see LICENSE file for your rights under this license.
# Version 1.x
#
# Twitter -> @HuWutze
#

## per Default alles offen oder alles zu?!
## ACCEPT nur empfehelenswert zum testen.
## Ansonsten _MUSS_ (sollte) jede nicht genehmigte Kommunikation blockiert werden.
## Du entscheidest, was passieren darf, nicht Hersteller, nicht Werbetreibende
## und erst recht nicht Botnetze und ähnliche "Räuber"!

DEFAULT_STATUS="DROP"
#DEFAULT_STATUS="ACCEPT"

DEBUG_FW=1

case $DEBUG_FW in
        0) LOG_LIMITER="-m limit";;
        1) LOG_LIMITER="";;
esac

#LOG_LIMITER=""

## Schnittstellen definieren
DEV_INTERN="ens18"
DEV_EXTERN="ppp0"		# or ppp0
DEV_DMZ1="ens20"
DEV_LAN1="ens21"
DEV_LAN2="ens18:1"
DEV_LAN3="ens19"

## Das interne IP-Netz definieren, welches den
## Schutz benötigt und keinerlei Dienste im Internet anbieten soll (Dafür gibt es DMZ)
NET_INTERN="192.168.104.0/24"
#NET_EXTERN="172.22.0.0/24" 	# wäre bei ppp0 unsinnig da sowieso default gw

## Die Netzwerke die Global noch auf diese Firewall zugreifen sollen
## Hängt meist an der Anzahl der Netzwerkschnittstellen
NET_LAN1="10.10.10.0/24"	# Alex LAN
NET_LAN2="192.168.1.0/24"	# WLAN vom Netgear
NET_LAN3="192.168.105.0/24"	# Reserve Netz

## Das Netzwerk der "Demilitarisierte Zone" (DMZ)
## Hier sollten alle Dienste stecken, die irgend eine Verbindung
## in oder aus dem Internet haben sollen
## Das wären VPN-Server, Telefonanlage (SIP), Webserver usw.

NET_DMZ1="172.16.16.0/24"
#NET_DMZ2="172.11.12.0/24"

## Das VPN-Netzwerk ist ein spezieller Fall
## Je nach Konfiguration kann über eine Einwahl aus dem Internet
## ein Zugang zu Diensten oder ganzen Netzwerken innerhalb der erreichbaren
## Netzwerke gewährleistet werden.
NET_VPN0="10.8.0.0/24"
#NET_VPN1="10.9.0.0/24"

## Definitionen OpenVPN-User
## Hostroutings für Benutzerdefinierte User
## Hier werden üblicherweise die Herkunfts-IPs der
## eingewählten User eingetragen
PRIVATE_VPN1="10.8.0.6"
PRIVATE_VPN2=""
PRIVATE_VPN3=""
PRIVATE_VPN4=""

## Variable für das verwendete Firewall-Programm
## hier "iptables"
FW="iptables"

## Welche DNS-Server dürfen extern abgefragt werden?
## Die Informationen welcher DNS abgefragt wird, steht im 
## Konfigurationsfile Deines DNS-Servers unter "forwarders"
DNS1="1.1.1.1"
DNS2="9.9.9.9"
DNS3="9.9.9.10"

## die vom DHCP intern übermittelten DNS-Ziele sind erlaubt
DNS_INTERN1="192.168.104.11"
DNS_INTERN2="10.10.10.11"

